%h1
  .page-header
    Editing Tasks

%ol.breadcrumb
  %li= link_to "Tasks", tasks_path(@tasks)
  %li= link_to @task.description, task_path(@task)
  %li.active Edit Task
= render partial: "shared/errors", locals: {object: @task}
= render partial: "form", locals: {name_of_button: "Update Task" }
