<div class="page-header">
  <p><h2>New Task</h2></p>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path(@tasks)  %></li>
  <li class="active">New Task</li>
</ol>
<%= render "form" %>
