<h1><%= @task.description.titleize %></h1>
<br>
<p></p>
<ol class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path(@tasks)  %></li>
  <li class="active"><%= @task.description %></li>
</ol>
<%= link_to 'edit',edit_tasks_path, class: "btn btn-default" %>
