<div class="page-header">
  <p><h2>New User</h2></p>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Users", users_path(@users)  %></li>
  <li class="active">New User</li>
</ol>

<%= render partial: "form", locals: {name_of_button: "Create User" } %>
