<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
<div class="jumbotron">
  <h1>gCamp</h1>
  <p>your life organized</p>
</div>
</div>

link href="/assets/application.css?body=1" media="screen" rel="stylesheet" />
