<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">


        <a class="navbar-brand" href="#">gCamp</a>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
<%= yield %>
<footer>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <a href="http://localhost:3000/terms">Terms</a>
    |


  </div>
</nav>
</footer>

</body>
</html>
